.projects-helper-courses-cont {
    text-align: left;
}

.projects-helper-courses-header {
    margin-bottom: 10vh;
    font-size: 32pt;
    padding-left: 2vw;
}

.projects-helper-course-row {
    text-align: left;
    border: 1px solid black;
    margin: 2vh 0;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    width: auto;
}

.projects-helper-course-row:hover {
    background-color: darkgrey;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.projects-helper-course-row-id {
    color: grey;
    font-size: 12pt;
}

.projects-helper-course-details {
    text-align: left;
}

.projects-helper-course-add-topic, .projects-helper-course-auto-assign {
    color: green;
    border: 1px solid green;
    padding: 0 2vw;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
}

.projects-helper-course-add-topic:hover, .projects-helper-course-auto-assign:hover {
    color: white;
    background-color: green;
    border: 1px solid black;
}
