.projects-helper-no-topics {
    font-size: 16px;
    color: gray;
}

.projects-helper-course-details {
    padding: 1vw;
}

.projects-helper-topic-description {
    margin-bottom: 20px;
    white-space: pre-line;
}

.projects-helper-choose-topic, .projects-helper-cancel-topic{
    margin: 50px 5px;
}

.projects-helper-temporary-topic {
    color: red;
    font-size: 16px;
    position: absolute;
    right: 1vw;
    bottom: 0;
}

.projects-helper-topic-label {
    font-weight: bold;
}

.projects-helper-topic-details {
    padding-top: 20px;
}

.projects-helper-add-topic-description {
    margin-bottom: 20px;
}

.title-error {
    color: red !important;
}

span.title-error {
    width: 100%;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 14pt;
    padding: 5px;
}
